* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* ------------- */
/* CSS VARIABLES */
/* ------------- */
:root {
  /* Spacings: */
  --sp-1: 8px;
  --sp-2: 16px;
  --sp-3: 24px;
  --sp-4: 32px;
  --sp-5: 48px;
  --sp-6: 64px;
  --sp-7: 96px;
  --sp-8: 128px;

  /* Font sizes: */
  --fsize-1: 1rem;
  --fsize-2: 1.25rem;
  --fsize-3: 1.5rem;
  --fsize-4: 2rem;

  /* Colors: */
  --primary-500: hsl(160deg, 100%, 30%);

  --secondary-500: hsl(45deg, 100%, 50%);
  --secondary-600: hsl(45deg, 100%, 40%);

  --neutral-100: white;
  --neutral-300: hsl(0deg, 0%, 60%);
  --neutral-500: hsl(0deg, 0%, 40%);
  --neutral-600: hsl(0deg, 0%, 30%);
  --neutral-800: hsl(0deg, 0%, 10%);
  --neutral-900: black;
}

/* -------- */
/* RAW TAGS */
/* -------- */
html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--fsize-4);
}

h2 {
  font-size: var(--fsize-3);
}

h1,
h2 {
  font-weight: 800;
  line-height: 1.2;
}

p {
  font-size: var(--fsize-2);
  font-weight: 500;
  line-height: 1.5;
}

h1 {
  margin: 2rem 0;
}

h2,
p {
  margin: 1rem 0;
}

h1:first-of-type,
h2:first-of-type,
p:first-of-type {
  margin-top: 0;
}

p:last-of-type {
  margin-bottom: 0;
}

strong {
  color: var(--primary-500);
  font-weight: 800;
}

header {
  border-bottom: var(--sp-1) solid var(--neutral-300);
  background: var(--neutral-100);
}

main {
  padding: var(--sp-6) 0;
  background: var(--neutral-500);
}

/* ---------------- */
/* SPECIFIC CLASSES */
/* ---------------- */
.max-width-wrapper {
  max-width: 800px;
  margin: auto;
}

.intro-chunk {
  max-width: 460px;
  padding: var(--sp-6) var(--sp-3);
}

.card {
  padding: var(--sp-3);
  border-bottom: var(--sp-1) solid var(--neutral-300);
  background: var(--neutral-100);
}

.indented-heading {
  position: relative;
  top: calc(-1 * var(--sp-2));
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 0 calc(-1 * var(--sp-4));
  padding: var(--sp-2) var(--sp-4);
  border-bottom: var(--sp-1) solid var(--secondary-600);
  background: var(--secondary-500);
}
